.home {
    --bd-purple: #4c0bce;
    --bd-violet: #712cf9;
    --bd-accent: #ffe484;
    --bd-violet-rgb: 112.520718,44.062154,249.437846;
    --bd-accent-rgb: 255,228,132;
    --bd-pink-rgb: 214,51,132;
    background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),
            radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.2), transparent 25%),
            radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.2), transparent 25%),
            radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.2), transparent 25%),
            radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.2), transparent 25%),
            linear-gradient(135deg, #0061ff 0%, #60efff 100%);
    min-height: 100vh;

    .bd-masthead {
        padding: 3rem 0;
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet);
        --bs-btn-border-color: var(--bd-violet);
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
    }
}

.navbar {
    background-color: #265ffa !important;
    border-bottom: 1px solid rgba(71, 71, 71, 0.2);
    padding: 1rem 0;

    .navbar-brand, .nav-link {
        color: rgb(0, 0, 0) !important;
    }

    .nav-link:hover {
        color: rgba(43, 43, 43, 0.8) !important;
    }
}

.feature {
    transition: transform 0.2s ease-in-out;
    border: 1px solid rgba(0,0,0,.125);
    background: white;
    border-radius: 8px;

    &:hover {
        transform: translateY(-5px);
    }

    .feature-icon {
        width: 4rem;
        height: 4rem;
        border-radius: .75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(var(--bd-violet-rgb), 0.1);
        
        svg {
            color: var(--bd-violet);
        }
    }
}

.card {
    background: white;
    border-radius: 8px;
    transition: transform 0.2s ease;
    height: 100%;

    &:hover {
        transform: translateY(-5px);
    }
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}